.superman{
    margin: -2rem 3rem 3rem 3rem;
    float: right;
}

input{
    margin-bottom: 3rem;
}

button{
    width: 10rem;
    margin-top: 3rem;
    margin-left: 35rem;
}

a{
    margin-left: 35.5rem;
}