<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shows New</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/shows.css' %}">
</head>

<body>
    <a href="/shows" class="superman btn btn-primary">Go Back</a>
    <div class="container mt-5">
        <h1 class="text-center">Add a New Show</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/process_show" method="post">
            {% csrf_token %}
            <div>
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" class="form-control">
                <div class="d-flex justify-content-around">
                    <label for="network">Network:</label>
                    <input type="text" name="network" id="network" class="form-control">
                    <label for="release_date">Release Date:</label>
                    <input type="date" name="release_date" id="release_date" class="form-control">
                </div>
                <label for="description">Description:</label>
                <textarea name="description" id="description" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <button type="submit" class="batman btn btn-success">Create</button>
        </form>
    </div>
</body>

</html>